// Grid
$min-width-mobile-media-query: 768px;
$max-width-md-media-query: 1200px;
$min-width-xl-media-query: 1200px;
$min-width-4k-media-query: 2500px;
$max-width-4k-media-query: 10000px;

// Backgrounds
$entryouBlue: #1f50c9;
