@import "apps/websites/vrapalis/src/assets/fonts/fonts";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: rgba(128, 177, 166, 1);
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

.active:after {
  width: 100% !important;
  opacity: 1 !important;
}
